<section class="py-2">
    <div class="row">
        <div class="col-md-6 text-center">
            <h1 class="display-3 mt-3 pt-5">
                Web Development Ebook
            </h1>
            <p class="lead">Learn Web Development</p>
            <form action="/charge" method="POST">
                <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                    data-key="pk_test_AfJ1AMCJSFeN6NgqwbNAZagH00EUon0I1g" data-amount="2500"
                    data-name="Web Development Ebook" data-description="A handbook for Web Developer"
                    data-image="/img/stripe.png" data-locale="auto">
                ></script>

            </form>
        </div>
        <div class="col-md-6">
            <img src="/img/book.png" class="img-fluid">
        </div>
    </div>
</section>